body {
    background-color: rgb(237, 253, 223);
}
.functions{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}   
.elem {
    box-sizing: border-box; 
    margin: 5px;
    padding: 5px;
    text-align: right;
}

.big_cont{
    display: flex;
    flex-wrap: wrap;
    color: cornsilk;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    padding: 15px;
    margin: 15px;
    }

.fizz {
    background-color: rgb(102, 241, 125);
    padding: 55px;
    margin: 15px;
    width: 200px;
    height: 150px;
    box-sizing: border-box;
    border-radius: 10%;
}

.buzz{
    background-color: rgb(144, 148, 82);
    padding: 55px;
    margin: 15px;
    width: 200px;
    height: 150px;
    box-sizing: border-box; 
    border-radius: 10%;
}

.fizzbuzz {
    background-color: rgb(78, 32, 6);
    padding: 30px;
    margin: 15px;
    width: 200px;
    height: 150px;
    box-sizing: border-box; 
    border-radius: 10%;
}
.regular {
    background-color: rgb(115, 216, 111);
    padding: 55px;
    margin: 15px;
    width: 200px;
    height: 150px;
    box-sizing: border-box; 
    border-radius: 10%;
}
.generator {
    background-color: rgb(42, 80, 204); 
    border: solid;
    border-color: rgb(43, 9, 43);
    color: white;
    border-radius: 10%;
    padding: 15px 32px;
    margin: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.cleaner {
    background-color: rgb(42, 153, 204); 
    border: solid;
    border-color: rgb(43, 9, 43);
    color: white;
    border-radius: 10%;
    padding: 15px 32px;
    margin: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.generator:disabled {
    opacity: 0.3;
    
}

